# Binaries
**/bin/
!vendor/
vendor/*
!bin/
bin/*
!premake/

bin-int/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
/Hazel/vendor/Glad/bin/Debug-windows-x86_64/Glad/Glad.pdb
/Hazel/vendor/Glad/bin/Debug-windows-x86_64/Glad/Glad.lib
